.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_content img {
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.introduction {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

.introduction span {
    color: var(--primary-color);
}

.introduction p {
    margin-top: 2rem;
}

.download_button_container {
    padding-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Medium devices  */

@media screen and (max-width: 1134px) {

    .about_content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .introduction {
        width: 100%;
    }

    .download_button_container {
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }
}