.skills_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.skills_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.skill_box {
    background-color: var(--secondary-background-dark);
    padding: 2rem 1.5rem 5rem 1.5rem;
    border-radius: 2rem;
    text-align: center;
    transition: .5s ease;
    max-width: 400px;
    max-height: 500px;
    height: 420px;
    border: 3px solid var(--secondary-color);
}

.skill_box:hover,
.languages_container:hover {
    cursor: pointer;
    box-shadow: 0 0 3.125rem var(--primary-color);
    transform: scaleX(1.02);
    border: 3px solid var(--primary-color);
}

.skill_box h2 {
    padding-bottom: 5rem;
}

.skill_box span {
    color: var(--primary-color);
}

.skills_icons_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.skills_icons_container img:hover {
    transform: scale(1.2);
}

.language_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.bar_container {
    background-color: var(--background-dark);
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin-bottom: 1.5rem;
}

.bar {
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

/* ========================================== Breakpoints  ========================================== */

/* Large Devies */

@media (max-width: 1240px) {
    .skills_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

/* Medium devices  */

@media screen and (max-width: 822px) {

    .skills_container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}