.home_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    height: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    max-width: 500px;
}

.data h1 span {
    font-size: var(--big-font-size);
}

.description {
    font-size: var(--small-font-size);
    font-style: italic;
    opacity: 0.75;
}

.data span {
    color: var(--primary-color);
}

.buttons_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}

.circle_container {
    position: relative;
    width: 490px;
    height: 490px;
}

.animated_circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.photo_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    border-radius: 100%;
    z-index: 1;
    mix-blend-mode: lighten;
}

/* ========================================== Breakpoints  ========================================== */


/* Medium devices  */

@media screen and (max-width: 1200px) {

    .home_content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-top: 2rem;
    }

    .data {
        align-items: center;
        text-align: center;
    }

    .buttons_container {
        flex-direction: column;
        gap: 2rem;
        margin-top: 1.5rem;
    }

    .data h1 span {
        font-size: var(--h1-font-size);
    }

}

@media screen and (max-width: 567px) {
    .circle_container {
        width: 300px;
        height: 300px;
    }
}